h1,
h6,


p{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  color: #ffffff;
}

h1 {
  font-size: 1.4em;
  padding: 10px 0;
  font-weight: 800;
}

h6 {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}

.header {
  width: 100%;
  padding:60px 0;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1658591205459-05c6bda0058b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI2fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  color: hsl(0, 0%, 100%);
}


.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px; 
}

.btn-bgstroke:hover {
  background-color: white;
  color: #33cccc;
}
