#deleteuser{
  padding-right: 17%;
}

.delete {
  background-color: hsl(0, 88%, 41%); 
  border: none;
  position: relative;
  right: -27%;
  color: white;
  padding: 12px 20px;
  font-size: 10px;
  margin-top: -10%;
  width: 7%;
}
